<div class="err-body">
   <div class="row">
      <div class="col s12 m8 l6">
         <div class="err-msg">
            <span class="big-msg"> 404 </span>
            <p class="sml-msg"> Dont worry .. you're not going there !! <br> You might want to go <a href="#/home">HOME</a> or <a href="#/contact">CONTACT US</a> for any assistance.</p>
         </div>
      </div>
   </div>
</div>