<div class="container">
   <section>
      	<div class="row">
	         <div class="col s12 m5 l5 abt">
	            <h4>
	            	Who we are ??
	            </h4>
	            <p class="containerP">
	           		We are travellers. <br>
	           		Yes !! We want to travel but travelling alone is a booooooring thing. So we travel with you. Wherever you go, we go.
	            </p>
	         </div>
	         <div class="col s12 m6 l6 offset-m1 offset-l1 abt">
	            <h4>
	            	What do we do ??
	            </h4>
	            <p class="containerP">
	           		We aim to provide people with single place where they find their next holiday destination be it another city, another country, a weekend trip or a road trip.
	           		Whatever be your mood there is always a place that is for you and we are here to help you.
	            </p>
	         </div>
        </div>
    </section>
</div>
