<div class="container">
	<section>
		<div class="row">
			<div class="col s12 m12 l6">
				<ul>
					<li>
						<div class="card col s12 m12 padded-card">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="maxImg" ng-src="{{mainImageUrl}}">
							</div>
						</div>
					</li>
					<li ng-repeat="img in place.images">
						<div class="card col s4 m3 padded-card">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="minImg" ng-src="{{img}}" ng-click="setImage(img)">
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="col s12 m12 l6">
				<div>
					<h4> {{place.name}}</h4>
					<p class="containerP">{{place.description}}</p>
					<br>
					<h5>Location: {{place.location}}</h5>
					<h5>Category: {{place.tag}}</h5>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12 m12 l6">
				<h4> Best time to Visit</h4>
				<h5>{{place.season}}</h5>
				<p class="containerP">{{place.season_des}}</p>
			</div>
			<div class="col s12 m12 l6">
				<h4> Ideal duration of Visit</h4>
				<h5> {{place.duration}}</h5>
				<p class="containerP">{{place.duration_des}}</p>
			</div>
		</div>
		<div class="row">
				<h4>A glimpse ...</h4>
				<div class="col s8 offset-s2">
					<iframe src="{{place.googlemap | trustAsResourceUrl}}" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>

		<div class="row">
			<h4 class="center"> Nearby Places to Visit </h4>
			<div ng-repeat="rw in place.nearby">
				<div class="col s12 m6 l4">
					<h5>{{rw.place}}</h5>
					<p class="containerP">
						{{rw.detail}}
					</p>
				</div>
			</div>
		</div>
	</section>
</div>
