<br>
<div class="container">
   <div class="slider">
      <ul class="slides">
         <li><img src="http://lorempixel.com/580/250/nature/1"></li>
         <li><img src="http://lorempixel.com/580/250/nature/2"></li>
         <li><img src="http://lorempixel.com/580/250/nature/3"></li>
         <li><img src="http://lorempixel.com/580/250/nature/4"></li>
      </ul>
   </div>
   <section>
      <div class="row">
         <div class="col s6 m4 l3">
            <div class="card">
               <div class="card-image waves-effect waves-block waves-light">
                  <div class="slider">
                     <ul class="slides">
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/1"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/2"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/3"></a></li>
                     </ul>
                  </div>
               </div>
               <div class="card-action center">
                  <a href="#/destination">Hill Station</a>
               </div>
            </div>
         </div>
         <div class="col s6 m4 l3">
            <div class="card">
               <div class="card-image waves-effect waves-block waves-light">
                  <div class="slider">
                     <ul class="slides">
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/1"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/2"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/3"></a></li>
                     </ul>
                  </div>
               </div>
               <div class="card-action center">
                  <a href="#/destination">Adventure</a>
               </div>
            </div>
         </div>
         <div class="col s6 m4 l3">
            <div class="card">
               <div class="card-image waves-effect waves-block waves-light">
                  <div class="slider">
                     <ul class="slides">
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/1"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/2"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/3"></a></li>
                     </ul>
                  </div>
               </div>
               <div class="card-action center">
                  <a href="#/destination">Wildlife</a>
               </div>
            </div>
         </div>
         <div class="col s6 m4 l3">
            <div class="card">
               <div class="card-image waves-effect waves-block waves-light">
                  <div class="slider">
                     <ul class="slides">
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/1"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/2"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/3"></a></li>
                     </ul>
                  </div>
               </div>
               <div class="card-action center">
                  <a href="#/destination">Honeymoon</a>
               </div>
            </div>
         </div>
         <div class="col s6 m4 l3">
            <div class="card">
               <div class="card-image waves-effect waves-block waves-light">
                  <div class="slider">
                     <ul class="slides">
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/1"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/2"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/3"></a></li>
                     </ul>
                  </div>
               </div>
               <div class="card-action center">
                  <a href="#/destination">Historical</a>
               </div>
            </div>
         </div>
         <div class="col s6 m4 l3">
            <div class="card">
               <div class="card-image waves-effect waves-block waves-light">
                  <div class="slider">
                     <ul class="slides">
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/1"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/2"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/3"></a></li>
                     </ul>
                  </div>
               </div>
               <div class="card-action center">
                  <a href="#/destination">Religious</a>
               </div>
            </div>
         </div>
         <div class="col s6 m4 l3">
            <div class="card">
               <div class="card-image waves-effect waves-block waves-light">
                  <div class="slider">
                     <ul class="slides">
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/1"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/2"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/3"></a></li>
                     </ul>
                  </div>
               </div>
               <div class="card-action center">
                  <a href="#/destination">Nature</a>
               </div>
            </div>
         </div>
         <div class="col s6 m4 l3">
            <div class="card">
               <div class="card-image waves-effect waves-block waves-light">
                  <div class="slider">
                     <ul class="slides">
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/1"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/2"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/3"></a></li>
                     </ul>
                  </div>
               </div>
               <div class="card-action center">
                  <a href="#/destination">Weekend Getaways</a>
               </div>
            </div>
         </div>
         <div class="col s6 m4 l3">
            <div class="card">
               <div class="card-image waves-effect waves-block waves-light">
                  <div class="slider">
                     <ul class="slides">
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/1"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/2"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/3"></a></li>
                     </ul>
                  </div>
               </div>
               <div class="card-action center">
                  <a href="#/destination">Famous Festivals</a>
               </div>
            </div>
         </div>
         <div class="col s6 m4 l3">
            <div class="card">
               <div class="card-image waves-effect waves-block waves-light">
                  <div class="slider">
                     <ul class="slides">
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/1"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/2"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/3"></a></li>
                     </ul>
                  </div>
               </div>
               <div class="card-action center">
                  <a href="#/destination">Beaches</a>
               </div>
            </div>
         </div>
         <div class="col s6 m4 l3">
            <div class="card">
               <div class="card-image waves-effect waves-block waves-light">
                  <div class="slider">
                     <ul class="slides">
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/1"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/2"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/3"></a></li>
                     </ul>
                  </div>
               </div>
               <div class="card-action center">
                  <a href="#/destination">Cities</a>
               </div>
            </div>
         </div>
         <div class="col s6 m4 l3">
            <div class="card">
               <div class="card-image waves-effect waves-block waves-light">
                  <div class="slider">
                     <ul class="slides">
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/1"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/2"></a></li>
                        <li><a href="#/destination"><img src="http://lorempixel.com/580/250/nature/3"></a></li>
                     </ul>
                  </div>
               </div>
               <div class="card-action center">
                  <a href="#/destination">Road Trips</a>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>
